body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
  background: linear-gradient(to right,#0D47A1 ,#64B5F6);
  color: white;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}

header .logo {
display: flex;
align-items: center;
}

header .logo img {
width: 77px;
height: 77px;
margin-left: 66px;
}
@media (max-width: 768px){
  header .logo img {
width: 77px;
height: 77px;
margin-left: 15px;
}
}

header nav {
display: flex;
gap: 33px;
margin-right: 0;
}


header nav a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  font-size: larger;
  font-family: "Bookman Old Style", serif;
  transition: all 0.3s ease; 
}

header nav a:hover {
  color: #f3ff4a; 
  transform: scale(1.2); 
  text-decoration: underline; 
}

.menu-btn {
  display: none;
}

.sliding-menu {
  display: none;
}

@media (max-width: 768px) {
  .sliding-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px); /* Adds blur effect */

    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }

  .sliding-menu.active {
    opacity: 1;
    pointer-events: auto;
  }

  .sliding-menu a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
    font-size: 24px;
    font-family: "Times New Roman", serif;
    transition: all 0.3s ease;
  }

  .sliding-menu a:hover {
    color: #f3ff4a;
    transform: scale(1.2);
  }

  .close-menu {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
  }
}


@media (max-width: 768px) {
  header nav {
      display: none; 
  }

  .menu-btn {
      display: flex; 
      flex-direction: column;
      justify-content: space-around;
      width: 30px;
      height: 30px;
      margin-right: 15px;
      cursor: pointer;
  }

  .menu-btn div {
      background-color: #fff;
      height: 3px;
      width: 100%;
      border-radius: 5px;
  }
}

.banner {
    width: 100%;
    max-width: 1520px;     
    margin: 0 auto;      
    text-align: center;
    background-image: url(banner.jpg); 
    background-size: cover;
    background-position: center;
    color: white;
    padding: 80px 20px;   
    position: relative;
    box-sizing: border-box;
}

.banner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.banner .content {
    position: relative;
    z-index: 2;
    max-width: 1000px;
    margin: 0 auto;
}

.banner h1 {
  font-family: "Bookman Old Style", serif;
  font-size: 36px;
  margin: 0 0 20px;
}

.banner h2 {
  font-family: "Bookman Old Style", serif;
  font-size: 28px;
  margin: 0 0 20px;
}

.banner p {
    font-size: 18px;
    margin: 0 0 10px;
}

.banner .important-dates {
    margin-top: 20px;
    color: #ebf74ae6;
}

.banner .btn {
  display: inline-block;          
  text-decoration: none;
  background: #ff0000;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s ease;
  margin-right: 33px;
}

.banner .btn:hover {
  background: #cc0000;
  transform: scale(1.1);           
}

@media (max-width: 768px) {
  .banner {
    padding: 40px 15px;
  }

  .banner h1 {
    font-size: 24px;
  }

  .banner h2 {
    font-size: 18px;
  }

  .banner .btn {
    display: block;
    margin: 20px auto;
    width: 55%;
  }
}


.about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    padding: 40px;
    background-color: #f9f9f9; 
    border-radius: 10px;
    margin: 50px auto;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(59, 55, 55, 0.909);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}
.about-us:hover {
    transform: scale(1.02); 
    background-color: #b3e5fc; 
    box-shadow: 0 8px 16px rgba(59, 55, 55, 0.909); 
}
@media (max-width: 768px){
  .about-us{
    max-width: 77%;
  }
  .about-us:hover{
    transform: scale(1.02);
    background-color: #fff;
  }
}
.about-content {
    flex: 1;
    padding-right: 20px;
}
.about-us .btn{
    text-decoration: none;
    background: #ff0000;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
.about-content h2 {
    font-size: 28px;
    color: #000;
    text-align: left;
    margin-bottom: 10px;
}

.underline {
    width: 50px;
    height: 4px;
    background-color: red;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 16px;
    color: #333;
    line-height: 1.8;
    margin-bottom: 20px;
}

.about-content ul li{
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 20px;
}

.read-more {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.read-more:hover {
    background-color: #cc0000;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-image img:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(59, 55, 55, 0.909); 
}

.footer {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(banner2.jpg);
  padding: 20px 50px;
  color: #ffffff;
}
  
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
  
.venue, .useful-links, .contact, .social {
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
  
.footer h3 {
  color: #ff4757;
  margin-bottom: 15px;
}
  
.footer p {
  color: #ffffff;
  text-decoration: none;
  margin: 5px 0;
}
  
.footer a{
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  margin: 5px 0;
}
.footer a:hover {
  text-decoration: underline;
  color: #ff4757;
}
  
.social-icons a {
  margin-right: 10px;
  font-size: 18px;
  color: #ffffff;
  transition: color 0.3s;
}
  
.social-icons a:hover {
  color: #ff4757;
}
  
.footer-bottom {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #333;
}
.footer .venue .logo{
  width: 100px;
  height: 100px;
}

@media (max-width: 768px){
  .footer .venue .logo{
    margin-left: 16%;
    width: 100px;
    height: 100px;
  }
}

.footer-bottom span {
  font-weight: bold;
  color: #ff4757;
}


/* About Us Section - Mobile View */
@media (max-width: 768px) {
  .about-us {
      flex-direction: column;
      text-align: center;
      padding: 20px;
  }

  .about-content {
      padding: 0;
  }

  .about-content h2 {
      font-size: 24px;
  }

  .about-content p {
      font-size: 14px;
  }

  .about-image {
      margin-top: 20px;
  }

  .about-image img {
      width: 100%;
      max-width: 300px;
  }
}

/* Footer Section - Mobile View */
@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }

  .footer h3 {
      font-size: 16px;
      text-align: center;
  }

  .footer p, .footer a {
      font-size: 12px;
      text-align: center;
  }

  .social-icons {
      margin-top: 10px;
  }

  .social-icons a {
      font-size: 16px;
      margin: 0 5px;
  }
}
